<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
</head>
<body>

    <footer class ="layout-footer"th:fragment="rodape"id="rodape" >
      <div class="container">
        <div class="row" align="center">
              <br>
              <span class="img-logo">IMARKET</span><br>
        </div>

        <div class="row">
          <p class="text-center text-white">Copyright &copy; I-Market 2018 Todos os direitos reservados.</p>
          <p class="text-center text-white">Desing by Thiago Alexandria</p>
        </div>
      </div>      
    </footer>
</body>
</html>